@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

/* .section{
    width: 100%;
    padding-top: 10px;
} */

.homSlider {
    width: 100%;
    padding-top: 30px;
}

.item {
    width: 100%;

}

.item-img {
    width: 99%;
    height: auto;
    border-radius: 55px;
    overflow: hidden;
    padding-left: 12px;
    position: relative;
}

 .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    width: 50px;
    height: 60px;
    border-radius: 2px;
    width: 100px;
}

.slick-arrow.slick-next {
    right: 0%;
}

.slick-arrow.slick-prev {
    left: 0%;
} 

.home_slider_main{
    position: relative;
} 
.home_slider_main .item .item-info{
    position: absolute;
    top: 15%;
    z-index: 100;
    left:10%;
}

.home_slider_main .item .item-info h2{
    font-size:60px;
  color: rgba(0,0,0,0.7);
}