@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

/* .section{
    width: 100%;
    padding-top: 10px;
} */

.homSlider {
    width: 100%;
    padding-top: 30px;
}

.item {
    width: 100%;

}

.item-img {
    width: 99%;
    height: auto;
    border-radius: 55px;
    overflow: hidden;
    padding-left: 12px;
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    width: 50px;
    height: 60px;
    border-radius: 2px;
    width: 100px;
}

.slick-arrow.slick-next {
    right: 0%;
}

.slick-arrow.slick-prev {
    left: 0%;
}

.home_slider_main {
    position: relative;
}

.home_slider_main .item .item-info {
    position: absolute;
    top: 13%;
    z-index: 100;
    left: 10%;
}

.home_slider_main .item .item-info h2 {
    font-size: 65px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.home_slider_main .item .item-info p {
    font-size: 22px;
    font-size: 500;
    color: #7E7E7E;
    padding-top: 25px;
}

.sliderContainer {
    position: relative;
}

.homSlider .newInputextarea {
    width: 600px;
    height: 60px;
    position: absolute;
    bottom: 160px;
    left: 10%;
    z-index: 10;

}

.homSlider .newInputextarea input {
    width: 100%;
    height: 94%;
    background-color: #fff;
    border-style: none;
    border-radius: 25px;
    outline: none;
    padding-left: 50px;
    padding-right: 200px;
    font-family: "Reddit Sans", sans-serif;
    font-size: 20px;
}

.newInputextarea .sub-btn {
    background-color: #3bb77e;
    color: whitesmoke;
    border-radius: 27px;
    padding: 10px 30px;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 56.5px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    text-transform: capitalize;
}

.newInputextarea .right-icon{
    padding-left:7px;
    
}
.sub-btn:hover {
    color: #3bb77e;

}

