.homeProduct {
    margin-bottom: 100px;
    margin-top: 20px;
}

.home-Container {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.list-i {
    display: flex;
    width: 100%;
}

.list-i .home-h2 {
    font-family: "Reddit Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    width: 50%;
}

.list-i .list-inline {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
}

.list-inline li {
    list-style: none;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    cursor: pointer;
    padding-left: 10px;
    color: rgb(64, 87, 87);
}


.list-inline li:hover {
    color: #3bb77e;

}
.homeProduct .productrow{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin: 0px -15px;
}

.homeProduct .productrow .productItem{
    width: 20%;
    padding: 15px 15px;
}

.list-inline .tag-list{
    border: 1px rgba(0, 0, 0, 0.1) solid;
   width: 40%;
   text-align: center;
   padding-top: 4px;
   color: rgb(64, 87, 87);
   border-radius: 10px;
   /* font-size: larger; */
   font-weight:500;
}