.productThumb {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    overflow: hidden;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 10px;
}


.productThumb .badge{
  position: absolute;
  top: 0px;
  padding-right:10px;
  padding-left: 5px;
 border-bottom-right-radius: 13px;
  font-family: "Reddit Sans", sans-serif;
  left: 0px;
  display: inline-block;
  background-color: rgb(149, 118, 118);
  color: white;
  z-index: 20;
  font-size: 16px;
}

/*  rgba(0, 0, 0, 0.23) */   
/*  rgba(0, 0, 0, 0.16) */
.productThumb:hover {
    box-shadow: 0 3px 6px #7cd7ab, 0 3px 6px #7cd7ab;

}

.productThumb .imgWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.productThumb .imgWrapper img {
    transition: all 0.3s ease-in-out;
}

.productThumb .imgWrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    background-color: rgba(255,255,255,0.5);
}

.productThumb:hover .imgWrapper .overlay{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    font-size: x-large;
    transform: scale(1);
}

.productThumb .imgWrapper .overlay ul {
    width: 137px;
    height: auto;
    border-radius: 8px;

}


.productThumb .imgWrapper .overlay ul li {
    display: flex;
    margin: 0px;
    height: 36px;

}


.productThumb .imgWrapper .overlay ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
}

.productThumb .imgWrapper .overlay ul li a:hover{
    color:  teal;
}

.productThumb .imgWrapper .overlay ul li .pro-i {
    height: 30px;
    padding-bottom: 2px;
    margin-right: 3px;
    padding-right: 3px;
    font-size:25px;
  
}

.productThumb:hover .imgWrapper img {
    transform: scale(1.1);
}

.p-img {
    width: 100%;
}

.info .brand {
    display: block;
    padding-top: 4px;
    cursor: pointer;
}


.info .text a {
    text-decoration: none;
    color: #3bb77e;
}

.tittle {
    padding-top: 4px;
    padding-bottom: 5px;
    cursor: pointer;
}

.tittle a {
    text-decoration: none;
}

/* .pro-i */
span.based-categories {
    margin-bottom: 20px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    cursor: pointer;
    padding-left: 100px;
}

.price-info {
    padding-top: 4px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.price-info .price {
    padding-top: 9px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    cursor: pointer;
}

.price-info .ad-btn {
    background-color: #3bb77e;
    color: #fff;
    font-family: "Reddit Sans", sans-serif;
}

.price-info .ad-btn:hover {
    background-color: #7cd7ab;
    color: black;
}

.ad-btn .cart-i {
    width: 20px;
    padding-left: 4px;
}
