.productThumb {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    overflow: hidden;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.productThumb:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.productThumb .imgWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.productThumb .imgWrapper img {
    transition: all 0.3s ease-in-out;
}

.productThumb .imgWrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productThumb .imgWrapper .overlay ul{
    background-color: #fff;
    width: 100px;
    height: 40px;
}

.productThumb:hover .imgWrapper img {
    transform: scale(1.1);
}

.p-img {
    width: 100%;
}

.info .brand {
    display: block;
    padding-top: 4px;
    cursor: pointer;
}


.info .text a {
    text-decoration: none;
    color: #3bb77e;
}

.tittle {
    padding-top: 4px;
    padding-bottom: 5px;
    cursor: pointer;
}

.tittle a {
    text-decoration: none;
}

span.based-categories {
    margin-bottom: 20px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    cursor: pointer;
    padding-left: 100px;
}

.price-info {
    padding-top: 4px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.price-info .price {
    padding-top: 9px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    cursor: pointer;
}

.price-info .ad-btn {
    background-color: #3bb77e;
    color: #fff;
    font-family: "Reddit Sans", sans-serif;
}

.price-info .ad-btn:hover {
    background-color: #7cd7ab;
    color: black;
}

.ad-btn .cart-i {
    width: 20px;
    padding-left: 4px;
}