.productThumb{
    width: 100%;
    height:auto;
    border-radius: 20px;
    border: 1px rgba(0,0,0,0.2) solid;
    overflow: hidden;
    padding: 15px;
}

.p-img{
   width: 100%;
}

.info .brand{
    display: block;
}

span.based-categories{
    margin-bottom: 20px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
}

