    header {
        width: 100%;
        height: 80px;
        margin: auto;
        padding: 15px 0px;
    }

    .row {
        display: flex;
    }

    .column-sm-5{
        margin-left: 30px;
    }

    header .headerSearch {
        width: 82vh;
        height: 45px;
        border: 1px solid rgb(158, 189, 158);
        border-radius: 9px;
        padding: 10px 30px;
        margin: 20px;
        display: flex;
    }

    .headerSearch .selecrDropWrapper {
        width: 28%;
        position: relative;
        padding-left: 5px;
        font-weight:600;
    }
    .headerSearch .selecrDropWrapper::after {
        content: "";
        width: 1px;
        top: 0px;
        right: 0px;
        height: 25px;
        position: absolute;
        background-color: rgb(70, 69, 69);
        margin-left: 40px;
    /* outline: none; */
    }
    
    .headerSearch .search {
        width: 70%;
        padding-left: 30px;
        position: relative;
        
    }

    .headerSearch .search .search-icon{
        position: absolute;
        top: 3px;
        right: 7px;
        color:rgb(75, 73, 73);
        cursor: pointer;
        font-size: 20px;
        opacity: 0.7;
        /* margin-left:10px; */
    }

    .search input {
        width: 110%;
        height: 25px;
        outline: none;
        border: 0px;
        font-family: "Reddit Sans", sans-serif;
        /* margin-left:15px; */
        font-weight: 630;
        font-size:17px;
        color: rgb(14, 81, 81);
    }

    .nav-items{
        padding: 20px;
        margin-left: 50px;
        margin-top: 10px;
        display: flex;
    }

    .list-inline-items {
        list-style: none;
    }

    .list-inline-items{
        width:110%;
        height:35px;
        border:1px solid rgb(158, 189, 158) ;
    border-radius: 9px;
    margin-top: 2px;
    }

    .list-inline-items .font{
        padding: 5px;
        cursor: pointer;
        padding-left:15px;
        padding-top: 6px;
    }


    .list-inline-items span {
        display: flex;
    }
    .list-inline-items span p{
        padding-left:1px;
        color: rgb(61, 100, 100);
        font-family: "Reddit Sans", sans-serif;
        font-size:18px;
        cursor: pointer;
        
    
    }

    .list-inline-items span img{
        width: 18px;
        color: rgb(61, 100, 100);
    }

    .list-inline-items span .notify-bar{
        width:20px;
        height:19;
        border:1px solid black;
        border-style: none;
        padding-left:6px;
        border-radius: 22px;
        font-family: "Reddit Sans", sans-serif;
        font-size:smaller;
        margin: 2px;
        color: white;
        background-color: rgb(85, 188, 136);
    }
