.listingPAge {
    width: 100%;
    height: auto;
    padding: 45px 0px;
}

.listingPAge .listing-header {
    width: 100%;
    height: auto;
    padding: 35px 35px;
    background: #d8f1e5;
    border-radius: 20px;
}

.listingPAge .listing-header h1 {
    color: black;
    opacity: 0.8;
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 7px;
}

.listing-header ul{
    display: flex;
    list-style: none;
    transition: all 0.3s ease-in-out;
}
.listing-header ul li a{
    color: black;
    padding-left: 7px;
    padding-right: 10px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.listing-header ul li .arrow{
    padding-top: 12px;
}

.listing-header ul li .arro{
    padding-top: 10px;
 color: #3BB77E;
}
