.semiSection {
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.semi-heading {
    font-family: "Reddit Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.semi_slider_Main .itemes {
    /* width: 100%; */
    height: auto;
    background: #F4F6FA;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.semi_slider_Main .slick-slide {
    padding-right: 12px;
}

.slick-prev:before {
    content: '←';
    font-size: 40px;
    color: #3bb77e;
   
}

.slick-next:before {
    content: '→';
    font-size: 40px;
    color: #3bb77e;
 
}

.semi_slider_Main .slick-arrow.slick-next {
    top: -30px;
    right: 20px;
}

.semi_slider_Main .slick-arrow.slick-prev {
    top: -30px;
    right: 80px;
    left: inherit;
}

.semi_slider_Main .itemes .info {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(188, 185, 185, 0.2);
}

.semi_slider_Main .itemes .info h5 {
    font-size: large;
    font-weight: 500;
}

.semi_slider_Main .itemes .info p {
    font-size: 14px;
    color: #000;
}