.footer-container {
    width: 100%;
    padding: 45px 0px;
    overflow: hidden;
}

.footer-container .fotter-row {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.footer-container .fotter-row .col {
    width: 18%;
}

.footer-container .col .box {
    display: flex;
    background-color: #F4F6FA;
    padding: 20px;
    border-radius: 10px;
}

.footer-container .col .box span img {
    margin-right: 20px;
    width: 50px;
}

.footer-container .col .box .info {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-container .col .box .info h4 {
    font-size: 18px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 5px;
    padding-right: 14px;
}

.footer-container .col .box .info p {
    color: #adadad;
    font-size: 15px;
    padding-top: 2px;
}

.footer-container .col .box img {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-container .col .box:hover img {
    transform: translateY(-10px);
}

footer {
    padding: 40px 30px;
}

.footer-fluid .footer-img {
    width: 20%;
    margin-right: 5px;
}

.footer-fluid .footer-img a {
    font-size: 20px;
}

.footer-fluid .footer-row {
    width: 100%;
    border: 1px solid black;

    display: flex;
}

.footer-fluid .footer-img p {
    font-size: 16px;
    padding-top: 12px;
}

.footer-fluid .footer-img .footer-uicon {
    /* border:  1px solid black; */
    margin-right: 3px;
    height: 21px;
    color: #3bb77e;
}

.footer-fluid .footer-img p span {
    margin-right: 3px;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 600;
}

.footer-fluid .footer-row .wid-col {
    width: 13%;
    padding-left: 9px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-fluid .footer-row .wid-col h3 {
    color: #565454;
    font-size: 13px;
    padding-top: 5px;
}

.footer-fluid .footer-row .wid-col ul li a {
    text-decoration: none;
    color: #242424;
    transition: all 0.3s ease-out;
}

.footer-fluid .footer-row .wid-col ul li a:hover {
    color: #3bb77e;
    transform: translateY(-10px);
}

.footer-fluid .footer-row .wid-col ul li {
    list-style: none;
    color: black;
    padding-top: 14px;
    word-spacing: 2px;
}

.footer-fluid .footer-row .acount-list {
    width: 14%;
    padding-top: 17px;
    padding-left: 9px;
    margin-right: 9px;
}

.footer-fluid .footer-row .acount-list h3 {
    font-size: 22px;
    padding-bottom: 13px;
}

.footer-fluid .footer-row .acount-list ul li {
    list-style: none;
    padding-bottom: 13px;
    word-spacing: 2px;
}

.footer-fluid .footer-row .acount-list ul li a {
    text-decoration: none;
    color: #242424;

}

.footer-fluid .footer-row .acount-list ul li a:hover {
    color: #3bb77e;
}

.footer-fluid .footer-row .web-payment-details h3 {
    font-size: 22px;
    padding-top: 17px;
    padding-left: 9px;
    margin-right: 9px;
}


.footer-fluid .footer-row .web-payment-details p {
    padding-top: 14px;
    word-spacing: 2px;
    padding-left: 9px;
}

.footer-fluid .footer-row .web-payment-details .instll-app {
    width: 100%;


}

.footer-fluid .footer-row .web-payment-details .instll-app a img {
    width: 35%;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 32px;
}