.container-fluid {
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 45px;
}

.container-fluid .row {
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.row .col h3 {
    width: auto;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 28px;
    position: relative;
    color: rgb(46, 46, 46);
}

.container-fluid .row .col h3:after {
    width: 90%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #e3e3e3;
}

.container-fluid .row .col h3:before {
    width: 20%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #aae6ca;
    z-index: 10;
}

.product_box .product_contnt {
    margin-top: 25px;
    cursor: pointer;
}

.product_contnt .product-items {
    width: 92%;
    display: flex;
    border-radius: 10px;
    margin-right: 30px;
    background-color: hsl(0, 3%, 93%);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.product_contnt .product-items:hover {
    transform: translateY(-10px);
}

.product_contnt .product-items img {
    width: 28%;
    border-radius: 10px;
    cursor: pointer;
}

.product_contnt .product-items .images-info {
    width: 70%;
    padding-left: 7px;
    margin-left: 5px;
    padding-top: 8px;
}

.product_contnt .product-items .images-info h4 {
    color: rgb(36, 35, 35);
}

.product_contnt .product-items .images-info a {
    text-decoration: none;
    cursor: pointer;
}

.product_contnt .product-items .images-info .info-price-Tg .price-info .prices {
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
    font-family: "Reddit Sans", sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: #3bb77e;
    cursor: pointer;
}

/* .product_contnt .product-items{} */