.container-fluid .row {
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.row .col h3 {
    width: auto;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 28px;
    position: relative;
    color: rgb(46, 46, 46);
}

.container-fluid .row .col h3:after {
    width: 90%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #e3e3e3;
}

.container-fluid .row .col h3:before {
    width: 20%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #aae6ca;
    z-index: 10;
}

.product_box .product_contnt{
    margin-top: 25px;
}

.product_contnt .images img{
    width: 20%;

}