@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Whisper&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: "Reddit Sans", sans-serif;
  overflow-x: hidden;
  
}
.container-header{
 padding: 0px 35px; 
}
.cursor{
  cursor: pointer;
}
