.banner-section{
    padding: 25px 0px ;
}

.banner-section .row{
    justify-content: space-around;
    
}
.banner-section .box{
    /* border-radius: 15px ; */
    overflow: hidden;
}

.banner-section .banner-col {
    width: 100%;
    /* height: ; */
}


.banner-section .banner-col img{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    margin-right: 2px;
    margin-left: 2px;
}

.banner-section .box{
    cursor: pointer;
}